{
  "plugins": ["@docusaurus"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 8
  },
  "extends": ["plugin:@docusaurus/recommended"],
  "rules": {}
}
