@use '@moralis/scss/mui';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  @media screen and (max-width: mui.$breakpoint-md) {
    padding: mui.px-to-rem(12);
    text-align: center;
  }
}
