@use '@moralis/scss/mui';

.card {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  overflow: hidden;
  @media screen and (max-width: mui.$breakpoint-xl) {
    align-items: center;
  }
  &:hover {
    @include mui.border-surface-light;
  }
}

.iconHolder {
  width: 100%;
  height: mui.px-to-rem(130);
  @include mui.background-surface-xxlight;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.icon {
  width: mui.px-to-rem(48);
  height: mui.px-to-rem(48);
}

.content {
  padding: mui.px-to-rem(16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  @media screen and (max-width: mui.$breakpoint-xl) {
    align-items: center;
  }
}

.title {
  @include mui.subtitle-18;
  margin-bottom: mui.px-to-rem(8);
}

.description {
  @include mui.body-14-regular;
  @include mui.color-headline-secondary;
  margin-bottom: mui.px-to-rem(12);
  @media screen and (max-width: mui.$breakpoint-xl) {
    text-align: center;
    padding: 0 mui.px-to-rem(32);
  }
}

.link {
  text-decoration: none;
}

.emptyCard {
  transition: all 0.3s ease;
  &:hover {
    @include mui.border-surface-light;
  }
  > div > span {
    line-height: 1.5 !important;
  }
}

.moreIcon {
  width: mui.px-to-rem(13) !important;
  height: mui.px-to-rem(13) !important;
  transform: translateY(mui.px-to-rem(1));
}
