/* Parent Tabs */
.parentTab {
  color: #007acc; /* Change this to your desired color for parent tabs */
  font-weight: bold;
}
.parentTab[aria-selected="true"] {
  border-bottom-color: #007acc; /* Underline color for active parent tab */
}

/* Child Tabs */
.childTab {
  color: #555; /* Darker text for child tabs */
  font-weight: normal;
  padding-top: 0%;
  padding-bottom: 0%;
}
.childTab[aria-selected="true"] {
  border-bottom-color: #555; /* Underline color for active child tab */
}

[data-theme="light"] {
  --service-select-background: #f7f7f7;
  --service-select-border: 1px solid #d9ddde;
}

[data-theme="dark"] {
  --service-select-background: rgba(255, 255, 255, 0.07);
  --service-select-border: 1px solid rgb(100, 110, 119);
}

.serviceSelect {
  background: var(--service-select-background);
  padding: 8px 20px;
  border-radius: 3px;
  text-align: left;
  margin-bottom: 15px;
  border: var(--service-select-border);
  cursor: pointer;
}
