/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start Custom Fonts CSS */
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Regular.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Medium.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_DemiBold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Bold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 800;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Bold.woff2")
    format("woff2");
  font-display: swap;
}
/* End Custom Fonts CSS */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0f7fff;
  --ifm-color-primary-dark: #0071f3;
  --ifm-color-primary-darker: #006be6;
  --ifm-color-primary-darkest: #0058bd;
  --ifm-color-primary-light: #2a8dff;
  --ifm-color-primary-lighter: #3895ff;
  --ifm-color-primary-lightest: #60aaff;
  /* custom */
  --ifm-code-font-size: 12px;

  --ifm-badge-padding-vertical: 0.4rem;
  --ifm-badge-padding-horizontal: 0.8rem;
  --ifm-heading-font-weight: 600;
  --ifm-navbar-item-padding-horizontal: 0.5rem;
  --ifm-alert-padding-vertical: 1.25rem;
  --ifm-alert-padding-horizontal: 1.5rem;
  --ifm-blockquote-padding-horizontal: 1rem;
  --ifm-blockquote-border-left-width: 3px;
  --ifm-badge-padding-horizontal: 0.5rem;

  --ifm-font-family-base: "Golos", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-heading-font-family: "Golos", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-hero-text-color: var(--ifm-heading-color);

  --ifm-navbar-height: 4.5rem;

  /* NetworkSelect */
  --docs-color-border: #dadde1;
  --docs-color-text: #000;
  --docs-color-background-100: #f8f8f8;
  --docs-color-background-200: #efefef;

  --ifm-hr-background-color: var(--ifm-toc-border-color);

  --ifm-z-index-fixed: 40;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"]:root {
  --ifm-background-color: #0f0e13;
  --ifm-background-surface-color: #1c212f;
  --ifm-color-primary: #57a5ff;
  --ifm-color-primary-dark: #3593ff;
  --ifm-color-primary-darker: #248aff;
  --ifm-color-primary-darkest: #1380ff;
  --ifm-color-primary-light: #79b7ff;
  --ifm-color-primary-lighter: #8ac0ff;
  --ifm-color-primary-lightest: #bedcff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* NetworkSelect */
  --docs-color-border: #2e2e2e;
  --docs-color-text: #fff;
  --docs-color-background-100: #1c1c1c;
  --docs-color-background-200: #2a2a2a;
}

/* You can override the default shadcn/ui variables here. */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: var(--docs-color-border);
    --input: 214.3 31.8% 91.4%;

    --primary: var(--ifm-color-primary);
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--docs-color-border);

    --radius: 0.5rem;
  }

  [data-theme="dark"]:root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: var(--docs-color-border);
    --input: 216 34% 17%;

    --primary: var(--ifm-color-primary);
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--docs-color-border);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

.remark-oembed-you-tube iframe,
video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.card--homepage {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.card--homepage:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.card--homepage *:last-child {
  margin-bottom: 0;
}

.DocSearch-Button-Placeholder {
  color: #42516b;
}

.navbar__link {
  font-size: 1rem;
  margin: 0 var(--ifm-navbar-item-padding-horizontal);
}

.menu__link {
  min-height: 30px;
  font-size: 0.85rem;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}

.menu__caret::before,
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

.DocSearch-Button {
  width: 300px;
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .DocSearch-Button {
    width: auto;
  }
}

.card h3 {
  display: flex;

  align-items: center;
}

.hero {
  background: none;
}

/* Hiding C# cards*/
.col:has(> a[href="/web3-data-api/evm/quickstart-dot-net-csharp"]),
.col:has(
    > a[href="/authentication-api/evm/how-to-sign-in-with-metamask-csharp-dot-net"]
  ) {
  display: none;
}

/* Hiding C# sidebar elements*/
li:has(> a[href="/web3-data-api/evm/quickstart-dot-net-csharp"]),
li:has(
    > a[href="/authentication-api/evm/how-to-sign-in-with-metamask-csharp-dot-net"]
  ) {
  display: none;
}

/* Hiding Google Unity tutorial sidebar elements*/
li:has(
    > a[href="/authentication-api/evm/integrations/google-cloud-nodejs-unity"]
  ) {
  display: none;
}

li:has(> a[href="/web3-data-api/evm/reference/run-contract-function"]),
li:has(> a[href="/web3-data-api/evm/reference/upload-folder"]) {
  display: none;
}

@media (max-width: 996px) {
  .hero__title {
    font-size: var(--ifm-h1-font-size);
  }

  .footer__link-item {
    height: 48px;
  }
}
.sections-menu-trigger {
  align-items: center;
  background-color: var(--docs-color-background-100);
  border: 1px solid var(--docs-color-background-200);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--docs-color-text);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: space-between;
  outline: 0;
  text-align: left;
}

.sections-menu-item,
.sections-menu-trigger {
  padding: 0 15px 0 10px;
}

.sections-menu-scrollButton {
  align-items: center;
  color: var(--docs-color-text);
  cursor: default;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 16px;
}

.sections-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: space-between;
  min-width: 200px;
  outline: 0;
}

.sections-menu-item:hover {
  background-color: var(--docs-color-background-200);
}

.sections-menu-item[data-disabled] {
  background-color: var(--docs-color-border);
  cursor: not-allowed;
}

.sections-menu-content {
  background-color: var(--docs-color-background-100);
  z-index: 300;
}

.sections-menu-item .item-indicator,
.sections-menu-trigger .item-indicator {
  color: rgb(var(--docs-color-primary-100, 26 144 255) / 1);
  height: 20px;
  width: 20px;
}

.sections-menu-item .item-text,
.sections-menu-trigger .item-text {
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 1.2;
}

.sections-menu-item .item-text > svg,
.sections-menu-trigger .item-text > svg {
  height: 32px;
  margin-right: 8px;
  width: 32px;
}

.sections-menu-content {
  border-radius: 6px;
  padding: 6px 0;
}

.sections-menu-trigger.compact {
  height: 2.5rem;
  min-width: 5rem;
}

.sections-menu-content.compact {
  min-width: 5rem;
  width: 5rem;
}

.compact .sections-menu-item {
  height: 2.5rem;
  min-width: auto;
  width: auto;
}

.web3-data-api .menu__list,
.streams-api .menu__list {
  background-color: var(--ifm-background-surface-color);
  border-radius: 4px;
}

.web3-data-api .menu__list-item.theme-doc-sidebar-item-category-level-1,
.streams-api .menu__list-item.theme-doc-sidebar-item-category-level-1 {
  margin-top: 6px;
}

.web3-data-api
  .theme-doc-sidebar-item-category-level-1
  > .menu__list-item-collapsible
  .menu__link,
.streams-api
  .theme-doc-sidebar-item-category-level-1
  > .menu__list-item-collapsible
  .menu__link,
.web3-data-api .theme-doc-sidebar-item-link-level-1 .menu__link,
.streams-api .theme-doc-sidebar-item-link-level-1 .menu__link {
  font-family: var(--ifm-heading-font-family);
  font-size: 15px;
  padding-left: 10px;
  padding-right: 6px;
}

.web3-data-api .theme-doc-sidebar-item-link-level-1 .menu__link:before,
.streams-api .theme-doc-sidebar-item-link-level-1 .menu__link:before,
.web3-data-api
  .theme-doc-sidebar-item-category-level-1
  > .menu__list-item-collapsible
  .menu__link:before,
.streams-api
  .theme-doc-sidebar-item-category-level-1
  > .menu__list-item-collapsible
  .menu__link:before {
  content: "";
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
}

.web3-data-api .theme-doc-sidebar-item-category-level-1 > .menu__list,
.streams-api .theme-doc-sidebar-item-category-level-1 > .menu__list {
  padding-left: 30px;
}

a.menu__link {
  transition: all 0.2s ease-in;
}

a.menu__link:hover {
  color: var(--ifm-menu-color-active);
}

li.sidebar-overview a.menu__link:before {
  background-image: url(/img/sidebar-icons/home.svg);
}

li.sidebar-overview a.menu__link:hover:before,
li.sidebar-overview a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/home-active.svg);
}

li.sidebar-getting-started a.menu__link:before {
  background-image: url(/img/sidebar-icons/getting-started.svg);
}

li.sidebar-getting-started a.menu__link:hover:before,
li.sidebar-getting-started a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/getting-started-active.svg);
}

li.sidebar-nft-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/nft-api.svg);
}

li.sidebar-nft-api a.menu__link:hover:before,
li.sidebar-nft-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/nft-api-active.svg);
}

li.sidebar-token-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/token-api.svg);
}

li.sidebar-token-api a.menu__link:hover:before,
li.sidebar-token-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/token-api-active.svg);
}

li.sidebar-balance-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/balance-api.svg);
}

li.sidebar-balance-api a.menu__link:hover:before,
li.sidebar-balance-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/balance-api-active.svg);
}

li.sidebar-transaction-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/transaction-api.svg);
}

li.sidebar-transaction-api a.menu__link:hover:before,
li.sidebar-transaction-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/transaction-api-active.svg);
}

li.sidebar-block-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/block-api.svg);
}

li.sidebar-block-api a.menu__link:hover:before,
li.sidebar-block-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/block-api-active.svg);
}

li.sidebar-events-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/events-api.svg);
}

li.sidebar-events-api a.menu__link:hover:before,
li.sidebar-events-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/events-api-active.svg);
}

li.sidebar-defi-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/defi-api.svg);
}

li.sidebar-defi-api a.menu__link:hover:before,
li.sidebar-defi-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/defi-api-active.svg);
}

li.sidebar-resolve-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/resolve-api.svg);
}

li.sidebar-resolve-api a.menu__link:hover:before,
li.sidebar-resolve-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/resolve-api-active.svg);
}

li.sidebar-ipfs-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/ipfs-api.svg);
}

li.sidebar-ipfs-api a.menu__link:hover:before,
li.sidebar-ipfs-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/ipfs-api-active.svg);
}

li.sidebar-utils-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/utils-api.svg);
}

li.sidebar-utils-api a.menu__link:hover:before,
li.sidebar-utils-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/utils-api-active.svg);
}

li.sidebar-market-data-api a.menu__link:before {
  background-image: url(/img/sidebar-icons/market-data-api.svg);
}

li.sidebar-market-data-api a.menu__link:hover:before,
li.sidebar-market-data-api a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/market-data-api-active.svg);
}

li.sidebar-api-reference a.menu__link:before {
  background-image: url(/img/sidebar-icons/api-reference.svg);
}

li.sidebar-api-reference a.menu__link:hover:before,
li.sidebar-api-reference a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/api-reference-active.svg);
}

li.sidebar-integrations a.menu__link:before {
  background-image: url(/img/sidebar-icons/integrations.svg);
}

li.sidebar-integrations a.menu__link:hover:before,
li.sidebar-integrations a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/integrations-active.svg);
}

li.sidebar-developer-tools a.menu__link:before {
  background-image: url(/img/sidebar-icons/developer-tools.svg);
}

li.sidebar-developer-tools a.menu__link:hover:before,
li.sidebar-developer-tools a.menu__link--active:before {
  background-image: url(/img/sidebar-icons/developer-tools-active.svg);
}

.navbar__item--linebreak {
  display: none;
}

@media (max-width: 996px) {
  .navbar__item--hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-navbar-height: 7rem;
  }

  nav.menu {
    padding-top: 20px;
  }

  .navbar {
    padding-bottom: 0;
    padding-top: 10px;
    padding-left: 24px;
    box-shadow: inset 0 -1px var(--ifm-toc-border-color);
  }

  .navbar__items {
    flex-wrap: wrap;
    align-content: space-between;
  }

  .navbar__items > .navbar__item {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 24px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
  }

  .navbar__items > .navbar__link--active {
    border-bottom: 1px solid var(--ifm-navbar-link-hover-color);
  }

  .navbar__items--right > :last-child {
    margin-bottom: 10px;
  }

  .navbar__items--right {
    flex: 1;
  }

  .navbar__items > .navbar__item--linebreak {
    flex-basis: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    display: block;
  }

  .navbar__items > .navbar__item--linebreak hr {
    height: 0;
  }

  .navbar__items > .navbar__item--login {
    margin-right: 0;
  }
}

.markdown h1:first-child {
  margin-bottom: 0.75rem;
}
.cls-1 {
  stroke-width: 1.4px;
}
.cls-1,
.cls-2,
.cls-3 {
  fill: none;
  stroke-linecap: round;
}
.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke: #6fc276;
}
.cls-1,
.cls-3 {
  stroke-miterlimit: 10;
}
.cls-2,
.cls-3 {
  fill-rule: evenodd;
  stroke-width: 1.4px;
}
.cls-2,
.cls-4 {
  stroke-linejoin: round;
}
