/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Start Custom Fonts CSS */
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Regular.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Medium.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_DemiBold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Bold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 800;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Bold.woff2")
    format("woff2");
  font-display: swap;
}
/* End Custom Fonts CSS */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0f7fff;
  --ifm-color-primary-dark: #0071f3;
  --ifm-color-primary-darker: #006be6;
  --ifm-color-primary-darkest: #0058bd;
  --ifm-color-primary-light: #2a8dff;
  --ifm-color-primary-lighter: #3895ff;
  --ifm-color-primary-lightest: #60aaff;
  /* custom */
  --ifm-code-font-size: 12px;

  --ifm-badge-padding-vertical: 0.4rem;
  --ifm-badge-padding-horizontal: 0.8rem;
  --ifm-heading-font-weight: 600;
  --ifm-navbar-item-padding-horizontal: 0.5rem;
  --ifm-alert-padding-vertical: 1.25rem;
  --ifm-alert-padding-horizontal: 1.5rem;
  --ifm-blockquote-padding-horizontal: 1rem;
  --ifm-blockquote-border-left-width: 3px;
  --ifm-badge-padding-horizontal: 0.5rem;

  --ifm-font-family-base: "Golos", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-heading-font-family: "Golos", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-hero-text-color: var(--ifm-heading-color);

  --ifm-navbar-height: 4.5rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"]:root {
  --ifm-background-color: #0f0e13;
  --ifm-background-surface-color: #1c212f;
  --ifm-color-primary: #57a5ff;
  --ifm-color-primary-dark: #3593ff;
  --ifm-color-primary-darker: #248aff;
  --ifm-color-primary-darkest: #1380ff;
  --ifm-color-primary-light: #79b7ff;
  --ifm-color-primary-lighter: #8ac0ff;
  --ifm-color-primary-lightest: #bedcff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.remark-oembed-you-tube iframe,
video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.card--homepage {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.card--homepage:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.card--homepage *:last-child {
  margin-bottom: 0;
}

.DocSearch-Button-Placeholder {
  color: #42516b;
}

.navbar__link {
  font-size: 1rem;
  margin: 0 var(--ifm-navbar-item-padding-horizontal);
}

.menu__link {
  min-height: 30px;
  font-size: 0.85rem;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}

.menu__caret::before,
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

.DocSearch-Button {
  width: 300px;
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .DocSearch-Button {
    width: auto;
  }
}

.card h3 {
  display: flex;
  align-items: center;
}

.hero {
  background: none;
}

/* Hiding C# cards*/
.col:has(> a[href="/web3-data-api/quickstart-dot-net-csharp"]),
.col:has(
    > a[href="/authentication-api/how-to-sign-in-with-metamask-csharp-dot-net"]
  ) {
  display: none;
}

/* Hiding C# sidebar elements*/
li:has(> a[href="/web3-data-api/quickstart-dot-net-csharp"]),
li:has(
    > a[href="/authentication-api/how-to-sign-in-with-metamask-csharp-dot-net"]
  ) {
  display: none;
}

@media (max-width: 996px) {
  .hero__title {
    font-size: var(--ifm-h1-font-size);
  }

  .footer__link-item {
    height: 48px;
  }
}

.navbar__item--linebreak {
  display: none;
}

@media (max-width: 996px) {
  .navbar__item--hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-navbar-height: 7rem;
  }

  nav.menu {
    padding-top: 20px;
  }

  .navbar {
    padding-bottom: 0;
    padding-top: 10px;
    padding-left: 24px;
    box-shadow: inset 0 -1px var(--ifm-toc-border-color);
  }

  .navbar__items {
    flex-wrap: wrap;
    align-content: space-between;
    flex: 3;
  }

  .navbar__items > .navbar__item {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 24px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
  }

  .navbar__items > .navbar__link--active {
    border-bottom: 1px solid var(--ifm-navbar-link-hover-color);
  }

  .navbar__items--right > :last-child {
    margin-bottom: 10px;
  }

  .navbar__items--right {
    flex: 1;
  }
 
  .navbar__items > .navbar__item--linebreak {
    flex-basis: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    display: block;
  }

  .navbar__items > .navbar__item--linebreak hr {
    height: 0;
  }
  
  .navbar__items > .navbar__item--login {
    margin-right: 0;
  }
}
