/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Start Custom Fonts CSS */
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Regular.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Medium.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_DemiBold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Bold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 800;
  src: url("https://docs.moralis.io/fonts/golos/Golos-Text_Bold.woff2")
    format("woff2");
  font-display: swap;
}
/* End Custom Fonts CSS */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0f7fff;
  --ifm-color-primary-dark: #0071f3;
  --ifm-color-primary-darker: #006be6;
  --ifm-color-primary-darkest: #0058bd;
  --ifm-color-primary-light: #2a8dff;
  --ifm-color-primary-lighter: #3895ff;
  --ifm-color-primary-lightest: #60aaff;
  /* custom */
  --ifm-code-font-size: 12px;

  --ifm-badge-padding-vertical: 0.4rem;
  --ifm-badge-padding-horizontal: 0.8rem;
  --ifm-heading-font-weight: 600;
  --ifm-navbar-item-padding-horizontal: 0.5rem;
  --ifm-alert-padding-vertical: 1.25rem;
  --ifm-alert-padding-horizontal: 1.5rem;
  --ifm-blockquote-padding-horizontal: 1rem;
  --ifm-blockquote-border-left-width: 3px;
  --ifm-badge-padding-horizontal: 0.5rem;

  --ifm-font-family-base: "Golos", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-heading-font-family: "Golos", system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-hero-text-color: var(--ifm-heading-color);

  --ifm-navbar-height: 4.5rem;

  /* NetworkSelect */
  --docs-color-border: #dadde1;
  --docs-color-text: #000;
  --docs-color-background-100: #f8f8f8;
  --docs-color-background-200: #efefef;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"]:root {
  --ifm-background-color: #0f0e13;
  --ifm-background-surface-color: #1c212f;
  --ifm-color-primary: #57a5ff;
  --ifm-color-primary-dark: #3593ff;
  --ifm-color-primary-darker: #248aff;
  --ifm-color-primary-darkest: #1380ff;
  --ifm-color-primary-light: #79b7ff;
  --ifm-color-primary-lighter: #8ac0ff;
  --ifm-color-primary-lightest: #bedcff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* NetworkSelect */
  --docs-color-border: #2e2e2e;
  --docs-color-text: #fff;
  --docs-color-background-100: #1c1c1c;
  --docs-color-background-200: #2a2a2a;
}

.remark-oembed-you-tube iframe,
video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.card--homepage {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.card--homepage:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.card--homepage *:last-child {
  margin-bottom: 0;
}

.DocSearch-Button-Placeholder {
  color: #42516b;
}

.navbar__link {
  font-size: 1rem;
  margin: 0 var(--ifm-navbar-item-padding-horizontal);
}

.menu__link {
  min-height: 30px;
  font-size: 0.85rem;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}

.menu__caret::before,
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

.DocSearch-Button {
  width: 300px;
}

/** Mobile view */
@media screen and (max-width: 996px) {
  .DocSearch-Button {
    width: auto;
  }
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 1280px) {
  .DocSearch-Button {
    width: auto;
  }
}

.card h3 {
  display: flex;
  align-items: center;
}

.hero {
  background: none;
}

/* Hiding C# cards*/
.col:has(> a[href="/web3-data-api/quickstart-dot-net-csharp"]),
.col:has(
    > a[href="/authentication-api/evm/how-to-sign-in-with-metamask-csharp-dot-net"]
  ) {
  display: none;
}

/* Hiding C# sidebar elements*/
li:has(> a[href="/web3-data-api/evm/quickstart-dot-net-csharp"]),
li:has(
    > a[href="/authentication-api/evm/how-to-sign-in-with-metamask-csharp-dot-net"]
  ) {
  display: none;
}

@media (max-width: 996px) {
  .hero__title {
    font-size: var(--ifm-h1-font-size);
  }

  .footer__link-item {
    height: 48px;
  }
}

.sections-menu-trigger {
  align-items: center;
  background-color: var(--docs-color-background-100);
  border: 1px solid var(--docs-color-background-200);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--docs-color-text);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: space-between;
  outline: 0;
  text-align: left;
}

.sections-menu-item,
.sections-menu-trigger {
  padding: 0 15px 0 10px;
}

.sections-menu-scrollButton {
  align-items: center;
  color: var(--docs-color-text);
  cursor: default;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 16px;
}

.sections-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: space-between;
  min-width: 200px;
  outline: 0;
}

.sections-menu-item:hover {
  background-color: var(--docs-color-background-200);
}

.sections-menu-item[data-disabled] {
  background-color: var(--docs-color-border);
  cursor: not-allowed;
}

.sections-menu-content {
  background-color: var(--docs-color-background-100);
  z-index: 300;
}

.sections-menu-item .item-indicator,
.sections-menu-trigger .item-indicator {
  color: rgb(var(--docs-color-primary-100, 26 144 255) / 1);
  height: 20px;
  width: 20px;
}

.sections-menu-item .item-text,
.sections-menu-trigger .item-text {
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 1.2;
}

.sections-menu-item .item-text > svg,
.sections-menu-trigger .item-text > svg {
  height: 32px;
  margin-right: 8px;
  width: 32px;
}

.sections-menu-content {
  border-radius: 6px;
  padding: 6px 0;
}

.sections-menu-trigger.compact {
  height: 2.5rem;
  min-width: 5rem;
}

.sections-menu-content.compact {
  min-width: 5rem;
  width: 5rem;
}

.compact .sections-menu-item {
  height: 2.5rem;
  min-width: auto;
  width: auto;
}
